<% if @note.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h2><%= @note.errors.count %> errors</h2>
    <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@note) do |f| %>
  Title
  <%= f.text_field :title, class: 'form-control title-field' %>
  Content
  <%= f.text_area :content, class: 'form-control content-field' %>
  <%= f.submit "submission", class: 'btn primary-btn' %>
<% end %>
