<p id="notice" class="alert alert-success">
  <%= notice %>
</p>
<h2>Title</h2>
<p><%= @note.title %></p>
<h2>Content</h2>
<p><%= @note.content %></p>
<% if currentuser?(@note.user) %>
<%= link_to 'Edit', edit_note_path(@note.id), class: 'btn edit-btn' %>
<%= link_to "Delete", note_path(@note.id), method: "delete", class: "btn destroy-btn", "data-comfirm" => "yes?" %>
<% end %>
<div id="like-link">
  <%=render "likes/like_links", note: @note %>
</div>
<div>
  <small>
    <%= link_to @note.likes.count, liking_users_note_path(@note.id), id: 'like-count' %> liked
  </small>
</div>

